/*global content*/
body {
    width: 100%;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.staic-content {
}


img {
    max-width: 100%;
}

.full-width {
    width: 100%;
    float: left;
}

.half-width {
    width: 50%;
  
}


.full-height {
    height: 100%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.no-display {
    display: none;
}

.text-center {
    text-align: center;
}

.buffer-top {
    margin-top: 10px;
}

.buffer-bottom {
    margin-bottom: 10px;
}

.padding {
    padding: 10px;
}


a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.row {
    padding: 0 10px 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-blue {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}






.btn-red {
    color: #fff;
    background: #d93455;
    background-image: -webkit-linear-gradient(top, #d93455, #b82b53);
    background-image: -moz-linear-gradient(top, #d93455, #b82b53);
    background-image: -ms-linear-gradient(top, #d93455, #b82b53);
    background-image: -o-linear-gradient(top, #d93455, #b82b53);
    background-image: linear-gradient(to bottom, #d93455, #b82b53);
}

    .btn-red:hover {
        background: #b82b53;
        background-image: -webkit-linear-gradient(top, #b82b53, #b82b53);
        background-image: -moz-linear-gradient(top, #b82b53, #b82b53);
        background-image: -ms-linear-gradient(top, #b82b53, #b82b53);
        background-image: -o-linear-gradient(top, #b82b53, #b82b53);
        background-image: linear-gradient(to bottom, #b82b53, #b82b53);
        text-decoration: none;
    }

.btn-light-blue {
    color: #fff;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

    .btn-light-blue :hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }

.image {
    width: 100%;
    height: 100%;
    float: left;
}

h1 {
    font-size: 4.236em;
}

h2 {
    font-size: 2.618em;
}

h3 {
    font-size: 1em;
    line-height: 1.618em;
    text-transform: uppercase;
}

p {
    font-size: 1em;
    line-height: 1.618em;
}

.hide-on-desktop {
    display: none;
}
/*header {
    color: white;
    font-size: 14px;
    padding: 6px 0 2px;
    margin: 0 auto;
    max-width: 1400px;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 3px 5px -4px #242424;
    height: 40px;
    position: relative;
    z-index: 600;
    text-align: center;
}

    header nav a {
        font-size: 14px;
        color: #0c3446;
        display: inline-block;
        padding: 7px 0 0 8px;
    }*/









.table-border {
}

    .table-border tr td {
        padding: 8px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: 1px solid #dddddd;
    }


.force-popup {
    position: absolute !important;
    width: 85% !important;
    margin: auto !important;
    left: 6% !important;
    background: lavender !important;
    z-index: 100 !important;
    height: 78% !important;
    top: 84px !important;
    border-radius: 2px !important;
    display: block !important;
}




























.scrollbar {
    padding-right: 8px;
}

.force-overflow {
    min-height: 450px;
}

#wrapper {
    text-align: center;
    width: 500px;
    margin: auto;
}

/*
    *  STYLE 1
    */

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*
    *  STYLE 2
    */

#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}

/*
    *  STYLE 3
    */

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #000000;
}

/*
    *  STYLE 4
    */

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}


/*
    *  STYLE 5
    */

#style-5::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb {
    background-color: #0ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}


/*
    *  STYLE 6
    */

#style-6::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}


/*
    *  STYLE 7
    */

#style-7::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-7::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122,153,217)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
}

/*
    *  STYLE 8
    */

#style-8::-webkit-scrollbar-track {
    border: 1px solid black;
    background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb {
    background-color: #000000;
}


/*
    *  STYLE 9
    */

#style-9::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}


/*
    *  STYLE 10
    */

#style-10::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-10::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-10::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent);
}


/*
    *  STYLE 11
    */

#style-11::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-11::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-11::-webkit-scrollbar-thumb {
    background-color: #3366FF;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent);
}

/*
    *  STYLE 12
    */

#style-12::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #444444;
}

#style-12::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-12::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D62929;
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
}

/*
    *  STYLE 13
    */

#style-13::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #CCCCCC;
}

#style-13::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-13::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D62929;
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
}

/*
    *  STYLE 14
    */

#style-14::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #CCCCCC;
}

#style-14::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-14::-webkit-scrollbar-thumb {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, transparent 100%, rgba(0, 0, 0, 1) 75%, transparent);
}

/*
    *  STYLE 15
    */

#style-15::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-15::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-15::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(.6,#54DE5D));
}

/*
    *  STYLE 16
    */

#style-16::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-16::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-16::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%);
}
























.form-control:-moz-placeholder {
    color: #999999;
}

.form-control::-moz-placeholder {
    color: #999999;
}

.form-control:-ms-input-placeholder {
    color: #999999;
}

.form-control::-webkit-input-placeholder {
    color: #999999;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 2px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    font-size: 12px;
    color: #4C4C4C;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Segoe UI", arial, sans-serif;
    border-radius: 3px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;*/
}

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

.field-wrapper {
    white-space: nowrap;
}

div {
    box-sizing: border-box;
}

.close-popup {
    position: absolute;
    left: 87%;
    height: 19px;
    width: 19px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
}
